{% load i18n %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{% url 'publication_liste' %}">Santé</a>
    
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="bi bi-list"></i></button>

    <!-- Navbar Search-->
    <form method="GET" action="{% url 'publication_liste' %}" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="search" name="search" value="{{request.GET.search}}" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'profil' %}">{% trans 'My profile' %}</a></li>
                <li><a class="dropdown-item" href="{% url 'profil' %}">{% trans 'Settings' %}</a></li>
                <li><a class="dropdown-item" href="{% url 'profil' %}">{% trans 'Another action' %}</a></li>
                
                <li><hr class="dropdown-divider" /></li>

                {% if request.user.is_authenticated %}
                    <form action="{% url 'deconnexion' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">{% trans 'Logout' %}</button>
                    </form>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'connexion' %}">{% trans 'Login' %}</a></li>
                {% endif %}

            </ul>
        </li>
    </ul>
</nav>


