{% extends 'base/base.html' %}
{% load i18n %}
{% block content %}

<h2>{% trans 'Documents' %}</h2>

{% if documents %}
<div class="list-group">
	{% for document in documents %}
    <a href="{{document.get_absolute_url}}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
	    <div class="d-flex gap-2 w-100 justify-content-between">
	        <div>
		        <h5 class="mb-0 text-primary">{{document.titre}}</h5>
		        <p class="mb-0 opacity-75">{{document.categorie.nom}}</p>
	        </div>
	    </div>
    </a>
    {% endfor %}
</div>
{% else %}
	<h4 class="text-center py-5">{% trans 'Empty List' %}</h4>
{% endif %}


{% endblock %}
